// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.my_container{
    max-width: 90%;
    height: 100%;
    // background-color: pink;
    // border: 1px solid darkblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.my_row{
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    // background-color: coral;
    // border: 3px solid beige;
    position: relative;
}


div.my_post{
    border-radius: 15px;
    flex-basis: calc(100% / 3);
    height: 100%;
    padding: 2%;
    
    // background-color: green;
    position: relative;

}

.my_creator{
    font-size: 8px;
}

.my_details{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.box_image{
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
}


.main_image{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
}
.post_img,
.cover_img{
    width: 100%;
    height: 100%;
}

.freccia{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.my_post_single{
    width:400px; 
    position: absolute;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
}


div.bcg_index{
    
    background: linear-gradient(
    180deg, #000, rgba(0,0,0,.998) 19%, rgba(0,0,0,.882) 34%,    rgba(0,0,0,.769)   47%, rgba(0,0,0,.748) 56.5%, rgba(0,0,0,.665) 65%, rgba(0,0,0,.574) 73%,
    rgba(0,0,0,.496) 80.2%, rgba(0,0,0,.382) 86.1%, rgba(0,0,0,.318) 91%, rgba(0,0,0,.259) 95.2%,  rgba(0,0,0,.192) 98.2% , transparent 100%);
}

    //     180deg,transparent 0,rgba(0,0,0,.262) 19%,rgba(0,0,0,.459) 34%,rgba(0,0,0,.618) 47%,rgba(0,0,0,.722) 56.5%,rgba(0,0,0,.806) 65%,
    //     rgba(0,0,0,.874) 73%,
    //     rgba(0,0,0,.925) 80.2%,
    //     rgba(0,0,0,.958) 86.1%,
    //     rgba(0,0,0,.979) 91%
    //     ,rgba(0,0,0,.992) 95.2%
    // ,rgba(0,0,0,.998) 98.2%,#000);